<%- include ('./partials/header.ejs')%>
    <!-- <h1>Home Page</h1> -->
<div class="container">
    <div class="row">
        <div class="col-sm-6 mt-5">
            <h2 class="alert alert-success text-center">Update Student</h2>
            <form action="/update/<%= data._id%>" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" class="form-control" value="<%=data.name%>" id="name" name="name">
                </div>
                <div class="mb-3">
                    <label for="age" class="form-label">age:</label>
                    <input type="text" class="form-control" value="<%=data.age%>" id="age" name="age">
                </div>
                <div class="mb-3">
                    <label for="fees" class="form-label">fees:</label>
                    <input type="text" class="form-control" value="<%=data.fees%>" id="fees" name="fees">
                </div>
                <center><button type="submit" class="btn btn-warning">Update</button></center><br>
                <center><button type="submit" class="btn btn-secondary">Back To Home</button></center>
            </form>
        </div>
        <div class="col-sm-6 mt-5">
            <h2 class="alert alert-danger  text-center">List Of Student</h2>
        </div>
    </div>
</div>

<%- include ('./partials/footer.ejs')%>
   
    